.fone-side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height:98vh;
    padding: 15px;
    margin-left: 16.5px;;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.250);
    border-color: var(--border-color-card);
    border-width: 1px;
    border-style: groove;
    backdrop-filter: blur(10px);
    overflow: hidden;
    animation: slideInLeft 0.5s ease-out forwards;
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.router{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 35px;
    align-items: center;
    gap: 10px;
}
.bottom-link{
    display: flex;
    flex-direction: column;
}