<div class="card-list-files">
    <p-scrollPanel [style]="{ width: '167vh', height: '83.5vh'}">
        @if (loading()) {
            <div class="progress-spin">
                <p-progressSpinner></p-progressSpinner>
            </div>
        } @else if (folders().length > 0) {
        <div class="folder-grid">
            @for (folder of folders(); track folder.id) {
            <p-card 
                class="folder-card" 
                (click)="openFolder(folder)"
                [class.selected]="selectedItem()?.id === folder.id"
                [style]="{width: '15rem'}">
                <div class="folder-preview">
                <i class="pi pi-folder" style="font-size: 6rem; color: var(--primary-color);"></i>
                </div>
                <div class="folder-name">
                {{ folder.name }}
                </div>
            </p-card>
            }
        </div>
    }
        @if (loading()) {
        } @else if (files().length === 0) {
        } @else {
            <div class="file-grid">
                @for (file of files(); track file.id) {
                    <p-card [style]="{width: '15rem'}">
                        <div class="file-card"
                        (click)="selectFile(file)"
                        [class.selected]="selectedItem()?.id === file.id">
                        @if (isImage(file)) {
                        <div class="file-info">
                            <div class="file-name">
                                {{ file.name }}
                            </div>
                            <div class="menu-container">
                                <p-button icon="pi pi-ellipsis-v" [text]="true" [outlined]="true" (click)="menu.toggle($event.stopPropagation);"/>
                                <p-tieredmenu #menu [model]="items" [popup]="true" />
                            </div>
                        </div>
                        <div class="preview">
                            <img [src]="file.downloadUrl" class="preview-image" loading="lazy" />
                        </div>
                        } @else {
                        <div class="file-info">
                            <div class="file-name">
                                {{ file.name | decodeURIComponent}}
                            </div>
                            <div class="menu-container">
                                <p-button icon="pi pi-ellipsis-v" [text]="true" [outlined]="true" (click)="menu.toggle($event.stopPropagation);"/>
                                <p-tieredmenu #menu [model]="items" [popup]="true"/>
                            </div>
                        </div>
                        <div class="preview">
                            <i [class]="'pi ' + getFileIcon(file.mimeType)" style="font-size: 11rem;"></i>
                        </div>
                        }
                        </div>
                    </p-card>
                    }
            </div>
        }
    </p-scrollPanel>
</div>