.task-create-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 98%;
    height: fit-content;
    padding: 30px;
    backdrop-filter: blur(10px);
    margin-left: 16.5px;
    gap: 15px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.250);
    border-color: var(--border-color-card);
    border-width: 1px;
    border-style: groove;
}
.form-tasks{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.info{
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-size: 3vh;
}