.profile {
  display: flex;
  min-height: 100vh;
  justify-content: start;
}

.profileCard {
    flex: 1;
    min-width: 0;
    margin: 20px;
}

@media (max-width: 768px) {
  .profileCard {
    margin: 16px 16px 84px;
  }
}