.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    width: 100%;
    overflow: hidden;
}
.form-card {
    display: grid;
    justify-content: center;
    max-width: 400px;
    padding: 50px;
    border-radius: 18px;
    background-color: rgba(0, 0, 0, 0.250);
    border-color: var(--border-color-card);
    border-width: 1px;
    border-style: groove;
    will-change: transform, opacity; 
    animation: slideUpFade 1.5s cubic-bezier(0.15, 1.15, 0.35, 1) forwards;
}
@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translateY(550px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.logotype{
    width: 90%;
    padding-left: 45px;
    padding-top: 30px;
    padding-bottom: 30px;
}
:host ::ng-deep .p-button {
    width: 95%;
    margin: 0.5rem;
    margin-top: 30px;
}
:host ::ng-deep .p-floatlabel{
    display: grid;
    justify-content: center;
    padding-top: 20px;
}
.notreg{
    margin: auto;
    margin-top: 40px;
    font-size: 16px;
    color: var(--shadow-color-text);
}